@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,700;1,400&display=swap');
* {
	font-size: 22px;
	font-family: 'Jost';
	color: #383a3c;
	text-align: justify;
	box-sizing: border-box;
	
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'DM Serif Display';
	color: rgb(228, 122, 42);
	font-size: inherit;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

b {
	color:black;
}

h3 {
	color: ;
}

i {
	color:rgb(27, 141, 57);
	font-weight: bold;
}

@media screen and (max-width: 767px) {
	ul,li {
		margin: 0;
	}
	
	.container {
		max-width: 747px;
		width: 100%;
		padding:0 20px;
		margin: 0 auto;
	}

	.alko {
		padding:15px;
	}

	.alko h3 {
		padding: 10px 0;
	}

}
	
@media screen and (max-width: 1900px){
	.container {
			max-width: 1240px;
			padding:0 25px;
	}
}